html {
	height: 100%;
	overflow: hidden;
	font-size: 5vmin;
	font-family: sans-serif;
	-webkit-tap-highlight-color: transparent;
	touch-action: none;
	overscroll-behavior: none;
}

body {
	height: 100%;
	overflow: hidden;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#bluetooth-icon {
	width:  7rem;
	height: 7rem;
	flex-shrink: 0;
	border-radius: 50%;
	box-shadow: .3rem .5rem 1rem rgba(0, 0, 0, .3);
	margin: 1rem;
	background: center / 80% 80% no-repeat url('data:image/svg+xml,\
		<svg viewBox="0 0 .609 1" xmlns="http://www.w3.org/2000/svg">\
			<path d="m0.059 0.314 0.496 0.399-0.286 0.23 8.01e-4 -0.881 0.285 0.229-0.495 0.399" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width=".09"/>\
		</svg>\
	'), linear-gradient(#20bcfa, #197cf1);
}

button {
	font-size: 1rem;
	border-radius: .2rem;
	margin: .3rem;
	box-shadow: .1rem .14rem .4rem rgba(0, 0, 0, .3);
	background: linear-gradient(#20bcfa, #197cf1);
	border: none;
	color: white;
	cursor: pointer;
	padding-left:  .5rem;
	padding-right: .5rem;
	min-height: 1.5rem;
}
button:hover {
	filter: brightness(1.1);
}
button:active {
	transform: translate(.1rem, .1rem);
	box-shadow: .05rem .07rem .2rem rgba(0, 0, 0, .6);
}

#bluetooth-status {
	height: 2rem;
}

#connect-button { display: none; }

body[data-bluetooth-state='ready'] #connect-button {
	display: block;
}

body[data-bluetooth-state='connecting'] #bluetooth-icon {
	animation: 1s pulse-bluetooth-icon infinite alternate;
}
@keyframes pulse-bluetooth-icon {
	from { transform: scale(1); }
	to { transform: scale(1.1); }
}

body:not([data-bluetooth-state='connected']) #toggle-led-button {
	visibility: hidden;
}

#leds-and-buttons {
	display: flex;
	gap: 1rem;
}
body:not([data-bluetooth-state='connected']) #leds-and-buttons {
	display: none;
}

#leds {
	display: grid;
	grid-template-rows:    1fr 1fr;
	grid-template-columns: 1fr 1fr;
	padding-bottom: 1.5rem;
	position: relative;
}
#leds label {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

#buttons {
	display: grid;
	grid-template-rows:    1fr 1fr;
	grid-template-columns: 1fr 1fr;
	padding-bottom: 1.5rem;
	position: relative;
}
#buttons label {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}
#buttons > span {
	border: 1px solid #197cf1;
	width:  1.5rem;
	height: 1.5rem;
	flex-shrink: 0;
	margin: .3rem;
	border-radius: .2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #197cf1;
}
#buttons > span.pressed {
	background: #888;
	color: white;
}
